# syntax = denzp/cargo-wharf-frontend:v0.1.0-alpha.0

[package]
name = "httpbox"
version = "0.2.0"
authors = ["Kevin Stone <kevinastone@gmail.com>"]
edition = "2018"

[dependencies]
gotham_async = { path = "gotham_async" }
askama = { version="^0.8", features=["with-gotham"] }
byteorder = "^1.3.2"
clap = "^2.33.0"
cookie = "^0.12.0"
failure = "^0.1.5"
futures-preview = { version = "0.3.0-alpha.19", features = ["io-compat", "async-await"] }
futures-timer = "^0.3"
gotham = "^0.4"
gotham_derive = "^0.4"
headers = "0.2.0"
http = "^0.1.18"
hyper = "0.12.33"
itertools = "^0.8.0"
lazy_static = "^1.2.0"
mime = "^0.3.13"
num_cpus = "^1.10.1"
pretty_env_logger = "^0.3"
rand = { version="^0.7", features = ["small_rng"]}
serde = "^1.0.98"
serde_derive = "^1.0.98"
tokio = "^0.1.22"
url = "^2.1.0"

[[bin]]
name = "httpbox"
path = "src/main.rs"

[package.metadata.wharf.builder]
image = "rust"

[[package.metadata.wharf.binary]]
name = "httpbox"
destination = "/usr/local/bin/httpbox"

[package.metadata.wharf.output]
image = "debian:stable-slim"
entrypoint = ["/usr/local/bin/httpbox"]
