# fly.toml file generated for httpbox on 2022-08-25T11:12:12-07:00

app = "httpbox"
kill_signal = "SIGINT"
kill_timeout = 5

[build]
image = "ghcr.io/kevinastone/httpbox:master"

[env]

[experimental]
auto_rollback = true

[http_service]
internal_port = 80
force_https = true

[http_service.concurrency]
hard_limit = 5000
soft_limit = 1000
type = "connections"

[[http_service.checks]]
interval = "30s"
grace_period = "5s"
method = "GET"
path = "/healthz"
