{% extends "base.html" %}

{% block style %}
ul {
    list-style-type: none;
}

code {
    font-weight: bold;
}
{% endblock %}

{% block content -%}
<h1>httpbox: HTTP Testing Service</h1>
<h2>Endpoints</h2>
<ul>
    {% for route in routes -%}
    <li>
        {%- match route.example_path() -%}
        {%- when Some with (example_path) -%}
            <a href="{{ example_path }}"><code>{{ route.path().to_string() }}</code></a>
        {%- when None -%}
            <code>{{ route.path() }}</code>
        {%- endmatch -%}
        {%- match route.description() -%}
        {%- when Some with (description) -%}
        <span> - </span>
        <span>{{ description }}</span>
        {%- else -%}
        {%- endmatch -%}
    </li>
    {% endfor %}
</ul>
{%- endblock %}
